/*=========================================================================================
    File Name: vxList.scss
    Description: Styles for vx-list component. Imported in VxList.vue file

==========================================================================================*/

.list {
  .list__item {
    display: flex;
    padding: 0.4rem;
    align-items: flex-start;
  }
}
